################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Funky.Inventory.WPF.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Funky.Inventory.WPF.exe
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Funky.Inventory.WPF.pdb
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/ref/Funky.Inventory.WPF.dll
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/refint/Funky.Inventory.WPF.dll
*.baml
/Funky.Inventory.WPF/obj
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.assets.cache
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.GeneratedMSBuildEditorConfig.editorconfig
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.assets.cache
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.GeneratedMSBuildEditorConfig.editorconfig
/Funky.Inventory.WPF/obj/Funky.Inventory.WPF.csproj.nuget.dgspec.json
/Funky.Inventory.WPF/obj/Funky.Inventory.WPF.csproj.nuget.g.props
/Funky.Inventory.WPF/obj/project.assets.json
/Funky.Inventory.WPF/obj/project.nuget.cache
*.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Azure.Core.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Azure.Identity.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Microsoft.Data.SqlClient.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Microsoft.Identity.Client.dll
/Funky.Inventory.WPF/bin/Debug/net8.0-windows/Microsoft.IdentityModel.Tokens.dll
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.designer.runtimeconfig.json
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/Funky.Inventory.WPF.genruntimeconfig.cache
/Funky.Inventory.WPF/obj/Debug/net8.0-windows/MainWindow.g.i.cs
