<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RecipeDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Inventory;Integrated Security=SSPI;Connection Lifetime=15;Min Pool Size=200;Connect Timeout=180;TrustServerCertificate=true;" />
	</connectionStrings>
</configuration>